body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Basic styling for header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Styling for the heading */
h2 {
    color: #333;
    text-align: center;
}

/* Style the form container */
form {
    width: 300px;
    margin: 0 auto;
}


/* Style labels */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Style text inputs and text area */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the disabled input */
input:disabled {
    background-color: #f5f5f5;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Add some spacing between elements */
br {
    display: none;
    margin: 10px 0;
}

/* Style the hidden input */
input[type="hidden"] {
    display: none;
}

img {
    max-width: 17%; /* Ensure images do not exceed their container width */
    height: auto; /* Maintain aspect ratio while resizing */
    display: block; /* Remove any extra spacing below the image */
    margin: 0 auto; /* Center the image horizontally */
    border: 1px solid #ccc; /* Add a border around the image */
    border-radius: 5px; /* Rounded corners for the image */
    box-shadow: 2px 2px 5px #888; /* Add a subtle box shadow */
}


input[type="file"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center; /* Center align the text inside the input field */
}



